<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
<test name="Test5">
    <classes>
      <class name="TestingScript.profileTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="TestingScript.PostTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test3">
    <classes>
      <class name="TestingScript.apexcomTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test4">
    <classes>
      <class name="TestingScript.navigationTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test">
    <classes>
      <class name="TestingScript.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test1">
    <classes>
      <class name="TestingScript.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
